In [1]:
import pandas as pd

In [8]:
data = pd.read_csv("Data/Advertising.csv", index_col='Unnamed: 0')
data.tail()

        TV  radio  newspaper  sales
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

In [9]:
data.shape

(200, 4)