In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('https://bit.ly/uforeports')

In [3]:
ufo.describe()

           City Colors Reported Shape Reported  State              Time
count     18216            2882          15597  18241             18241
unique     6476              27             27     52             16145
top     Seattle             RED          LIGHT     CA  11/16/1999 19:00
freq        187             780           2803   2529                27

In [4]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')